body{
    background-image: url('./pexels-bmw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
h1{
    color: aliceblue;
    text-align: center;
}
h3{
    color: aliceblue;
    text-align: center;
}
label{
    color: aliceblue;
    
}
p{
    color: white;
    text-align: center;
}
form{
    text-align: center;
}