<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PRice Prediction BMW</title>
    <link rel="stylesheet"  href="{{ url_for('static',filename='style.css') }}" >
    
</head>

<body>
    <h1>Price Pedictor</h1>
    
    <h1>Select Car's model year, MPG- mileage and Engine Size</h3>
    <br><br>
    {% if result%}
        <p> The Predicted Price is {{ result }} USD </p>
    {% endif %}
    <br><br>
    <form method="POST" action="/predict">
        <label>Year</label><br>
        <input type="text" name="year" ><br><br>

        <label>MPG</label><br>
        <input type="text" name="mpg" ><br><br>

        <label>Engine Size</label><br>
        <input type="text" name="EngineSize" ><br><br>

        <input type="submit" value="Predict"><br><br>
    </form>
    
</body>

</html>